<% name = current_user.present? ? current_user.email : 'Stranger' %>
<%= render "navbar", book: @book %>
<h1>Welcome, <%= name %> </h1>
<br>
<h1>Books</h1>

We have <%= Book.public_count %> books in stock.

<ul>
  <% @books.each do |book| %>
    <% unless book.archived? %>
      <li>
        <%= link_to book.title, book %>
        <%= link_to book.price, book %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Book", new_book_path %>