<h1><%= @book.title %></h1>

<p><%= @book.author %></p>

  <% if @book.image.attached? %>
    <image src= "<%=(url_for(@book.image))%>">
  <% end %>

<p><%= link_to "Back to Book List", books_path %></p>
<ul>
  <% if current_user && current_user.admin %>
  <li><%= link_to "Edit", edit_book_path(@book) %></li>
    <li><%= link_to "Delete", book_path(@book),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
    <% end %>
</ul>

<% if cart.include?(@book) %>
  <%= button_to cart_path(@book), method: :delete do %>
    Remove From Cart
  <% end %>
<% else %>
  <%= form_with url: cart_index_path, method: :post do %>
    <%= hidden_field_tag(:id, @book.id) %>
      <%= button_tag 'Add to Cart' %>
    <% end %>
<% end %>

<h2>Reviews</h2>
<%= render @book.reviews %>


<h2>Add a Review:</h2>
<%= render 'reviews/form' %>
